// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

$bg_Color1:#DDDDDD;
$bg_Color2:#30475E;
$txt_Color1:#222831;
$txt_Color2:#F05454;

body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
nav{
    background-color: $bg_Color1;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
    .navbar-brand{
        color: $bg_Color2;
        font-weight: 700;
    }
    .navbar-collapse{
        .navbar-nav{
            .nav-item{
                font-weight: 600;
                border: 2px solid $bg_Color1;
                padding-right: 0.35rem;
                padding-left: 0.35rem;
                .nav-link{
                    color: $txt_Color1;
                    &:hover{
                        color: $txt_Color2;
                    }
                }
            }
            .admin_Btn{
                background-color: $bg_Color2;
                border: 2px solid $bg_Color2;
                transition: 0.35s ease;
                margin-left: 20px;
                padding-right: 1rem;
                padding-left: 1rem;
                .nav-link{
                    color: $bg_Color1;
                }
                &:hover{
                    background-color: transparent;
                    border: 2px solid $bg_Color2;
                    .nav-link{
                        color: $txt_Color2;
                    }
                }
            }
        }
    }
    .navbar-toggler{
        border: 2px solid $bg_Color2;
        padding: 0.45rem 0.75rem 0.35rem;
        &:focus{
            border: 2px solid $txt_Color2;
            outline: none;
            box-shadow: none;
        }
        .fa-bars{
            color: $bg_Color2;
            &:focus{
                color: $txt_Color2
            }
        }
    }
};

@media (max-width: 960px) {
    .admin_Btn{
        margin-left: 0px !important;
    }
    .navbar-brand{
        margin-left: 1rem;
    }
    .nav-item{
        padding-right: 1rem;
        padding-left: 1rem;
    }
  }
