// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

$bg_Color1:#DDDDDD;
$bg_Color2:#30475E;
$txt_Color1:#222831;
$txt_Color2:#F05454;

body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
nav{
    background-color: $bg_Color1;
    .navbar-brand{
        color: $bg_Color2;
        font-weight: 700;
    }
    .navbar-collapse{
        .navbar-nav{
            .nav-item{
                margin-right: 10px;
                font-weight: 600;
                border: 2px solid $bg_Color1;
                .nav-link{
                    color: $txt_Color1;
                    &:hover{
                        color: $txt_Color2;
                    }
                }
            }
            .admin_Btn{
                background-color: $bg_Color2;
                border: 2px solid $bg_Color2;
                transition: 0.35s ease;
                margin-left: 20px;
                padding-right: 1rem;
                padding-left: 1rem;
                .nav-link{
                    color: $bg_Color1;
                }
                &:hover{
                    background-color: transparent;
                    border: 2px solid $bg_Color2;
                    .nav-link{
                        color: $txt_Color2;
                    }
                }
            }
        }
    }
}
